<caption align="center">专业课程</caption>
<tr>
	<th>ID</th>
	<th>Name</th>
	<th>Credit</th>
	<th>Period</th>
	<th>Area</th>
	<th>Teachers</th>
	<th>Acadamy</th>
	<th>Special</th>
	<th>Term</th>
</tr>
<% @coursesUsual.each do |course| %>
<tr>
	<td><%= course.classid %></td>
	<td><%= course.name %></td>
	<td><%= course.point %></td>
	<td><%= course.time %></td>
	<td><%= course.area %></td>
	<td><%= course.teacher %></td>
	<td><%= course.academy %></td>
	<td><%= course.special %></td>
	<td><%= course.term %></td>
</tr>
<% end %>