<caption align="center">其他课程</caption>
<tr>
	<th>ID</th>
	<th>Name</th>
	<th>Credit</th>
	<th>Area</th>
	<th>Teachers</th>
	<th>Limit</th>
	<th>Type</th>
	<th>Note</th>
</tr>
<% @coursesOther.each do |course| %>
<tr>
	<td><%= course.classid %></td>
	<td><%= course.name %></td>
	<td><%= course.point %></td>
	<td><%= course.area %></td>
	<td><%= course.teacher %></td>
	<td><%= course.climit %></td>
	<td><%= course.ctype %></td>
	<td><%= course.note %></td>
</tr>
<% end %>