<div>
<%= form_tag('search_ajax', remote: true, id: 'search_area') do %>
	<%= label_tag 'courseName', 'Name : ' %>
	<%= text_field_tag 'course', nil, class:'item' %>
	<%= label_tag 'teacherName', 'Teachers : ' %>
	<%= text_field_tag 'teacher', nil, class:'item' %>
	<%= submit_tag 'Search', class: 'btn' %>
<% end %>
	<div class="condition">
		<span class="box">
			<label>课程关键字：</label>
			<label id="inputName"></label>
		</span>
		<span class="box">
			<label>教师关键字：</label>
			<label id="inputTeachers"></label>
		</span>
	</div>
	<div class="divide"></div>
	<table class="result" cellspacing="0" id="usual">
	<caption align="center">专业课程</caption>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Credit</th>
			<th>Period</th>
			<th>Area</th>
			<th>Teachers</th>
			<th>Acadamy</th>
			<th>Special</th>
			<th>Term</th>
		</tr>
	</table>
	<div class="divide"></div>
	<table class="result" cellspacing="0" id="other">
	<caption align="center">其他课程</caption>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Credit</th>
			<th>Area</th>
			<th>Teachers</th>
			<th>Limit</th>
			<th>Type</th>
			<th>Note</th>
		</tr>
	</table>
</div>